* {
  font-family: "Lato", sans-serif;
}

.bottom-footer {
  background-color: #f1f8ff;
}
.bottom-footer__title {
  color: #3677fd;
  font-size: 50px;
  font-weight: 300;
  padding: 5% 0;
}
.bottom-footer__logo-container {
  padding-bottom: 5%;
}
.bottom-footer__banner {
  background-color: #469dff;
}
.bottom-footer__text {
  font-size: 50px;
  color: white;
  padding: 5% 20px;
}
.bottom-footer__text--light {
  font-weight: 300;
}
.bottom-footer__text--bold {
  font-weight: 700;
}
.bottom-footer__button {
  background-color: white;
  color: #469dff;
}